#background {
    width: 100%;
    height: 200px;
}
#lightGreen {
    background-color: rgb(90, 190, 90);
    float: left;
    width: 80%;
    height: 10%;
}
#blue {
    background-color: rgb(52, 148, 185);
    float: left;
    width: 20%;
    height: 10%;
}
#red {
    background-color: rgb(255, 52, 52);
    float: left;
    width: 33%;
    height: 40%;
}
#orange {
    background-color: rgb(255, 136, 0);
    float: left;
    width: 34%;
    height: 20%;
}
#grey {
    background-color: rgb(150, 150, 150);
    float: left;
    width: 33%;
    height: 20%;
}
#yellow {
    background-color: rgb(255, 178, 35);
    float: left;
    width: 23%;
    height: 20%;
}
#green {
    background-color: rgb(76, 143, 94);
    float: left;
    width: 22%;
    height: 20%;
}
#darkOrange {
    background-color: rgb(221, 82, 18);
    float: left;
    width: 22%;
    height: 20%;
}
#darkBlue {
    background-color: rgb(41, 43, 61);
    float: left;
    width: 100%;
    height: 50%;
}