#containerTop {
    display: flex;
    flex-wrap: wrap;
}
#midRow {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
}
#containerMid1 {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 33%;
}
#containerMid2 {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 67%;
}
#lightGreen {
    background-color: #5abe5a;
    width: 80%;
    height: 20px;
}
#blue {
    background-color: #3494b9;
    width: 20%;
    height: 20px;
}
#red {
    background-color: #ff3434;
    width: 100%;
    height: 80px;
}
#orange {
    background-color: #ff8800;
    width: 50%;
    height: 40px;
}
#grey {
    background-color: #969696;
    width: 50%;
    height: 40px;
}
#yellow {
    background-color: #ffb223;
    width: 34%;
    height: 40px;
}
#green {
    background-color: #4c8f5e;
    width: 33%;
    height: 40px;
}
#darkOrange {
    background-color: #dd5212;
    width: 33%;
    height: 40px;
}
#darkBlue {
    background-color: #292b3d;
    width: 100%;
    height: 100px;
}